<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
    <style>
        table, th , td  {
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
    <div ng-app="myApp" ng-controller="customersCtrl">
        <table>
            <tr>
                <td>Nombre</td>
                <td>Posicion</td>
                <td>Canastas Totales</td>
                <td>Asistencias Totales</td>
                <td>Equipo</td>
            </tr>
            <tr ng-repeat="jugador in jugadores">
                <td ng-if="$odd" style="background-color:#f1f1f1">{{jugador.nombre}}</td>
                <td ng-if="$even">{{jugador.nombre}}</td>

                <td ng-if="$odd" style="background-color:#f1f1f1">{{jugador.posicion}}</td>
                <td ng-if="$even">{{jugador.posicion}}</td>

                <td ng-if="$odd" style="background-color:#f1f1f1">{{jugador.canastasTotales}}</td>
                <td ng-if="$even">{{jugador.canastasTotales}}</td>

                <td ng-if="$odd" style="background-color:#f1f1f1">{{jugador.asistenciasTotales}}</td>
                <td ng-if="$even">{{jugador.asistenciasTotales}}</td>

                <td ng-if="$odd" style="background-color:#f1f1f1">{{jugador.equipo.nombre}}</td>
                <td ng-if="$even">{{jugador.equipo.nombre}}</td>
            </tr>
        </table>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function($scope, $http) {
            $http.get("api/jugadors").then(function (response) {
                $scope.jugadores = response.data;
            });
        });
    </script>
</body>
</html>
